<!doctype html>

<html> <!--xmlns:th="https://www.thymeleaf.org">-->


<head>
	<title> Transaction Summary </title>

	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="/styles/master.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
</head>


<body style="background-color:lightblue;">
	<div class="header">
		<h1 class="primary-message"><center>Shopping cart</center></h1>
	</div>
	<br>
	<br>
	<div id="main" class="main">
		<h2><center>Products:</center></h2>
		<br>
		<!--get products-->
		PRODUCT 1:
			<center>	
			<form id = "charform" name = "charform">
			Quantity:<input type="number" name="prod1" value= '0' min='0'><br>
			<input style="visibility:hidden" type="number" name="prodprice1" value='20'>
			</form>
			<br>
			Price: $20
			</center>
		<br>
		<br>
		<div>
		PRODUCT 2:
			<center>
			<form id = "2form" name = "2form">
			Quantity:<input type="number" name="prod2" value= '0' min='0'><br>
			<input style="visibility:hidden" type="number" name="prodprice2" value='10'>
			</form>
			
			<br>
			Price: $10
			</center>
		</div>	
		<br>
		<br>
		<center><button onclick ="testing()">APPLY</button></center>
		
		<div>
			<center>
			<h2>Total Quantity</h2>
			<p id="quantity">0</p>
			<h2>Total price</h2>
			<p id ="price">0</p>
		</div>
	</div>
		<center><button>CHECKOUT</button></center>
	
	<script>
		function testing()
		{
			var product1 = document.getElementById("charform").elements[0].value;
			var productprice = document.getElementById("charform").elements[1].value;
			var P1Q = parseInt(product1);
			
			var product2 = document.getElementById("2form").elements[0].value;
			var productprice2 = document.getElementById("2form").elements[1].value;
			var P2Q = parseInt(product2);
			
			document.getElementById("price").innerHTML = (product1 * productprice) + (product2 * productprice2) + " dollars";
			document.getElementById("quantity").innerHTML = P1Q + P2Q;
		}
	</script>
	
</body>

</html>